<div class="container pb-5">
	<div class="row pt-3">
		<div class="col-12">
				<div class="title">
					<h3 style="color: #46c8f5;">Our services</h3>
					<h2 class="font-weight-bold" style="color: #004767;">Core Technology services</h2>
				</div>
		</div>
	</div>
	<hr class="space">
	<div class="row shadow info_div">
		<div class="col-5">
			<a href="https://anviam.com/web-development" target="blank" class="img-fluid">
				<img src="/assets/image-1.jpg" alt="Custom Web Development" class="w-100">
			</a>
		</div>
		<div class="col-7 pt-5 bg-white">
			<h2><a class="text-dark font-weight-bold" href="https://anviam.com/web-development" target="blank">Custom Web Development</a></h2>
			<p>
			Java App/Web Development , Ruby on Rails , Angular js , Node js/MongoDB , Scala , Open Source Development , Internet Of Things , SAAS Applications
			</p>
		</div>
	</div>
	<div class="row mt-5 shadow info_div">
		<div class="col-5">
			<a href="https://anviam.com/mobile-apps-development" target="blank" class="img-fluid">
				<img src="/assets/image-2.jpg" alt="Custom Web Development" class="w-100">
			</a>
		</div>
		<div class="col-7 pt-5 bg-white">
			<h2><a class="text-dark font-weight-bold" href="https://anviam.com/mobile-apps-development" target="blank">Mobile App Development</a></h2>
			<p>
			Native & Hybrid App Development , iPhone App Development , Android App Development , Window App Development , Enterprise Mobility Services , App Migration/Upgradation , Mobile Game Development
			</p>
		</div>
	</div>
	<div class="row mt-5 shadow info_div">
		<div class="col-5">
			<a href="https://anviam.com/data-science" target="blank" class="img-fluid">
				<img src="/assets/image-3.jpg" alt="Custom Web Development" class="w-100">
			</a>
		</div>
		<div class="col-7 pt-5 bg-white">
			<h2><a class="text-dark font-weight-bold" href="https://anviam.com/data-science" target="blank">Cloud Computing & Data Science</a></h2>
			<p>
			Amazon Web Services , EC2 , RDS , Lambda , S3 Bucket , Google Cloud ,Digital Ocean , Machine Learning , Big Data , Data Mining , Data Analysis , Extraction Transformation Load , Hadoop , Spark Server
			</p>
		</div>
	</div>
	<div class="row mt-5 shadow info_div">
		<div class="col-5">
			<a href="https://anviam.com/customer-relationship-management" target="blank" class="img-fluid">
				<img src="/assets/image-4.jpg" alt="Custom Web Development" class="w-100">
			</a>
		</div>
		<div class="col-7 pt-5 bg-white">
			<h2><a class="text-dark font-weight-bold" href="https://anviam.com/customer-relationship-management" target="blank">ERP/CRM Development</a></h2>
			<p>
			Accounting Platform Development , HR Solutions Development , Payroll Development, Zoho/Salesfore CRM , Point Of Sale System Developement , Corporate CRM/ERP System Development
			</p>
		</div>
	</div>
	<div class="row mt-5 shadow info_div">
		<div class="col-5">
			<a href="https://anviam.com/digital-marketing" target="blank" class="img-fluid">
				<img src="/assets/image-5.jpg" alt="Custom Web Development" class="w-100">
			</a>
		</div>
		<div class="col-7 pt-5 bg-white">
			<h2><a class="text-dark font-weight-bold" href="https://anviam.com/digital-marketing" target="blank">Digital Marketing</a></h2>
			<p>
			Search Engine Optimization , Social Media Management , Social Media Optimization , Pay Per Click , Email Marketing , Online Reputation Management , Facebook Advertising and Re-Targeting
			</p>
		</div>
	</div>
	<div class="row mt-5 shadow info_div">
		<div class="col-5">
			<a href="https://anviam.com/e-commerce" target="blank" class="img-fluid">
				<img src="/assets/image-6.jpg" alt="Custom Web Development" class="w-100">
			</a>
		</div>
		<div class="col-7 pt-5 bg-white">
			<h2><a class="text-dark font-weight-bold" href="https://anviam.com/e-commerce" target="blank">E-commerce platform</a></h2>
			<p>
			Custom E-commerce Development Extension/Plug-in and Module Development Spree Commerce, Magento , Shopify , WooCommerce
			</p>
		</div>
	</div>	
</div>
					